footer{
  background-color: #313437;
  width: 100%;

}

footer .bottom{
  height: 20px;
  background-color: #41454a;
}

footer .footer{
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  color: white;
  padding: 10px;
}
